<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ursafecheck">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".IncidentReportingActivity2"
            android:label="@string/title_activity_incident_reporting2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".EmergencyContacts" />
        <activity android:name=".OthersActivity" />
        <activity android:name=".UserMannualActivity" />
        <activity android:name=".RiskAssessmentActivity" />
        <activity android:name=".IncidentReportingActivity" />
        <activity android:name=".SearchSDSActivity" />
        <activity android:name=".forgotPasswordActivity" />
        <activity android:name=".HomapageActivity" />
        <activity
            android:name=".SignupActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>